<div class="jumbotron">
  <h2>
    Hello, world!
  </h2>
  <p>
    teste teste testes testei svcjbscvhiofshvjhsfosvkjfv jfsnbviosfnfhjewf-o9jsfgjhbFOdajfsfvopsdjfjoksd
  </p>
  <p>
    <a class="btn btn-primary btn-large" href="#">Learn more</a>
  </p>
</div>